.App {
  text-align: center;
}

.game-container {
  display: flex;
  justify-content: space-around;

  padding: 10px;
}

.dice-container {
  display: flex;

  width: 50vw;
  justify-content: space-around;
}

.dice-container div {
  height: 50px;
  width: 50px;

  border: 1px solid black;
  border-radius: 4px;
}

.dice-container div.held {
  background-color: #8ff8;
}

.scorecard {
  width: 30vw;
  height: 40vh;

  border: 3px solid black;
}
